
# ignore sites
sites/
web/sites/
private/

# ignore database files
*.sql
*.sql.gz
*.sql.tar.gz

# ignore temporary files
*.*~

# ignore composer dependencies
config/
drush/
core/
web/core
modules/contrib
web/modules/contrib
themes/contrib
web/themes/contrib
vendor/
